
echo "# Базы данных" > .gitignore
echo "*.db" >> .gitignore
echo "*.sqlite3" >> .gitignore
echo "" >> .gitignore
echo "# Кэш Python" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore

*
!smart_wallet/
!database_manager.py
!requirements.txt
!.gitignore


smart_wallet/__pycache__/